@import url(fonts/luckiestguy/stylesheet.css);
@import url(fonts/HelveticaNeueLTStdMd/stylesheet.css);

html,body{
	padding: 0;
	margin: 0;
	background-color: #f2f2f2;
	font-family: "HelveticaNeueLTStdMd", Arial, sans-serif; 
}
.ios-sound-play{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
	filter: alpha(opacity=80);
	opacity: 0.8;
	
}
.iosSoundPlay{
    color: white;
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 164px;
	cursor: pointer;
    text-align: center;
	filter: alpha(opacity=100);
	opacity: 1;
}
.main-div{
	width: 620px;
	height: 470px;
	margin: 0 auto;	
	position: relative;
}

.center-img{
	display:block;
	margin:auto;
}

.center-text{
	text-align: center;
}

.center-bottom-img{
    position: absolute;
    display: block;
    bottom:0;
    left:6%;
}

.btn-state{
	cursor: pointer;
}

.btn-state:hover{
	/*filter: alpha(opacity=60);
	opacity: 0.6;*/
	
    filter:brightness(200%);
}

.title-font{
	font-family: "luckiest_guyregular", Arial, sans-serif; 
}

.body-font{
	font-family: "HelveticaNeueLTStdMd", Arial, sans-serif; 
}

.question-div{
	position: absolute;
    width: 310px;
    top: 212px;
    left: 158px;
	text-align: center;
}

.font-white{
	color: white;
}

.font-size3{
	font-size: 22px;
}

.font-size5{
	font-size: 28px;
}

.fb-right{
	display:none;
	width: 620px;
	height: 470px;
	background-color:#BFE9FF;
}

.fb-fabulous{
	display:none;
	width: 620px;
	height: 470px;
	background-color:#d47fc0;
}

.fb-fabulous p{
	margin-top: 0;
	margin-bottom: 5px;
}

.fb-time-up{
	display:none;
	width: 620px;
	height: 470px;
	background-color:#e60028;
}

.fb-wrong{
	display:none;
	width: 620px;
	height: 470px;
	background-color:#e60028;
}

.final-page{
	display:block;
	width: 620px;
	height: 470px;
	background-color:#00e4c4;
}

.final-fb-1{
	display:none;
	width: 620px;
	height: 470px;
	background-image: url(../img/b-gold.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.final-fb-2{
	display:none;
	width: 620px;
	height: 470px;
	background-image: url(../img/b-silver.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.final-fb-3{
	display:none;
	width: 620px;
	height: 470px;
	background-image: url(../img/b-bronze.png);
    background-repeat: no-repeat;
    background-position: bottom;
}
.final-fb-1 p, .final-fb-2 p, .final-fb-3 p{
    max-width: 350px;
    margin: auto;
    padding: 16px;
	
}
.padding-top-gap{
	padding-top: 50px;
}
.padding-top-badge {
    padding-top: 195px !important;
}
.row-last p {
    padding: 10px;
	margin: auto;
	max-width: 300px;
}

.row-last table {
    border-collapse: collapse;
    margin: auto;
    width: 480px;
    height: 168px;
}

.row-last table td {
    padding: 10px;
}
.row-last .table-row1{
	background-color: #92ba88;
}

.row-last .table-row2{
	background-color: #6dd8c7;
}

.row-last .table-row3{
	background-color: #85d76d;
}
.row-last .level-unlock{
	display: none;
}

.row-last .btn-level-gold-disabled, .row-last .btn-level-silver-disabled, .row-last .btn-level-bronze-disabled{
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.row-last .btn-level-gold, .row-last .btn-level-silver, .row-last .btn-level-bronze{
	display: none;	
}

.menu-bar{
	position:absolute;
	top:0;
	right:0;
	width: 88px;
	height: 42px;
	background-image: url('../img/menu-bg.png');
}

.menu-bar img{
    padding-left: 15px;
    padding-top: 9px;
}

.mejs-container .mejs-controls, .menu-sound-mute{display:none;}

.threeWrong{
	display: block;
    width: 620px;
    height: 470px;
    background-color: #FFA0B2;	
}

.home-info-box{
    position: absolute;
    top: 23px;
    left: 0px;
    width: 268px;
    height: 354px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
	display: none;
	line-height: 16px;
}

.home-info {
	display: none;
    height: 280px;
}


.home-btn-box{
	position: absolute;
    top: 33px;
    left: 0px;
    width: 100%;
    height: 200px;
	
}

.home-btn{
	cursor: pointer;
	position: absolute;
}
.home-btn:hover{
	background-repeat: no-repeat;

}
.btn-1{
    top: 61px;
    right: 118px;
	width: 144px;
	height: 135px;
	
}
.btn-1:hover{
	background-image: url(../img/brain-1.png);
	
}
.btn-2{
    top: 69px;
    right: 42px;
	width: 107px;
	height: 87px;
}
.btn-2:hover{
	background-image: url(../img/brain-2.png);
}
.btn-3{
	top: 141px;
    right: 73px;
	width: 133px;
	height: 84px;
}
.btn-3:hover{
	background-image: url(../img/brain-3.png);
}
.btn-4{
	top: 127px;
    right: 5px;
	width: 77px;
	height: 80px;
}
.btn-4:hover{
	background-image: url(../img/brain-4.png);
}
.btn-5{
    top: 208px;
    right: 32px;
	width: 99px;
	height: 41px;
}
.btn-5:hover{
	background-image: url(../img/brain-5.png);
}

.home-btn img{
	display: none;
	position: relative;
}
.q-txt-first{
	font-size: 1.2em;
}
.q-txt-second{    
	width: 250px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}
.clear-right{
	clear: right;
}

.game-over-txt{
	width: 300px;
    margin: 0 auto;
	
}